.app-root {
  margin: 0 auto;
  padding-top: 50px;
  width: 100%;
  background-color: #960ab9;
  /* define root with flex layout */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media only screen and (min-width: 600px) {
  .app-root {
    margin-top: 50px;
    max-width: 600px;
    min-height: 90vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .app-root {
    max-width: 800px;
  }
}