.todo-item-todo {
  margin: 5px 0px;
  display: flex;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;
  border-radius: 5px;
}

.todo-item-todo:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.todo-item-task {
  flex: 1;
}

.todo-item-task-input {
  width: 0px;
}

.todo-item-button-edit {
  background-color: #46b8da;
}

.todo-item-button-delete {
  background-color: #f13939;
}

.todo-item-button-save {
  background-color: #4CAF50;
}

.todo-item-button-cancel {
  background-color: #f0ad4e
}